<div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div formGroupName="projectData">
                        <div class="form-group">
                            <label for="projectName">ProjectName</label>
                            <input
                              type="text"
                              id="projectName"
                              formControlName="projectName"
                              class="form-control">
                            <span
                              *ngIf="!signupForm.get('projectData.projectName').valid && signupForm.get('projectData.projectName').touched"
                              class="help-block">
                              <span *ngIf="signupForm.get('projectData.projectName').errors != null && signupForm.get('projectData.projectName').errors['nameIsForbidden']">This name is invalid!</span>
                              <span *ngIf="signupForm.get('projectData.projectName').errors != null && signupForm.get('projectData.projectName').errors['projectNameIsForbidden']">This project name is invalid!</span>
                              <span *ngIf="signupForm.get('projectData.projectName').errors != null && signupForm.get('projectData.projectName').errors['required']">This field is required!</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="email">Mail</label>
                            <input
                              type="text"
                              id="email"
                              formControlName="email"
                              class="form-control">
                            <span
                              *ngIf="!signupForm.get('projectData.email').valid && signupForm.get('projectData.email').touched"
                              class="help-block">Please enter a valid email!</span>
                         </div>
                         <div class="form-group">
                                <label for="projectStatus">Project Status</label>
                                <select
                                  id="projectStatus"
                                  class="form-control"
                                  formControlName="projectStatus"
                                  name="projectStatus">
                                  <option value="Stable">Stable</option>
                                  <option value="Critical">Critical</option>
                                  <option value="Finished">Finished</option>
                                </select>
                         </div>
                    </div>
                    <span
                        *ngIf="!signupForm.valid && signupForm.touched"
                        class="help-block">Please enter valid data!</span>
                    <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>